.App {
  text-align: center;
}

.menu{
    text-align: left;
    background-color:
}

.ui.inverted.blue.menu {
  background-color: grey;
}

.font{
  font-family: serif;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
